@font-face {
  font-family: monospace1;
  src: url(/template/fonts/RobotoMono-Regular.ttf);
}
#main-img {
  background-image: unset;
}
#sub-text {
  text-decoration: none;
  color: #1b4332;
  font-family: monospace1;
  display: flex;
  justify-content: center;
  margin-top: 5vw;
  font-size: 5vw;
}
#gallery {
  margin-top: -30vw;
  margin-bottom: 10vw;
  right: unset;
  left: unset;
  margin-left: 3vw;
  margin-right: unset;
}
.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column img {
  width: 20vw;
  opacity: 0.8;
  cursor: pointer;
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
